<h1><:gens:liste_des_gens:></h1>

<style type='text/css'>
#gens em {color:#888; font-size:80%; font-style:normal;}
td.actions {font-size:80%;}
td.actions a:hover {text-decoration:underline;}
</style>

[(#ENV{regenerer}|=={intervallaire}|oui)
	[(#VAL{spip_gens}|sql_intervallaire::regenerer_bornes)]
]
[(#ENV{regenerer}|=={parentee}|oui)
	[(#VAL{spip_gens}|sql_intervallaire::regenerer_parents)]
]

<B_gens>
<table class='spip'>
	<thead>
		<tr>
			<th>Id</th>
			<th>Parent</th>
			<th>Nom</th>
			<th>Rang</th>
			<th>Prof.</th>
			<th>Gauche</th>
			<th>Droit</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	<BOUCLE_gens(GENS){pagination 50}{par gauche}>
		<tr class='[(#COMPTEUR_BOUCLE|alterner{row_odd,row_even})]'>
			<td>#ID_GENS</td>
			<td>#ID_PARENT</td>
			<td>#NOM</td>
			<td>#RANG</td>
			<td>#PROFONDEUR</td>
			<td>#GAUCHE</td>
			<td>#DROIT</td>
			<td class='actions'>
				<a href="[(#URL_ECRIRE{editer_gens}
					|parametre_url{retour,#SELF}
					|parametre_url{id_gens,#ID_GENS})]">Éditer</a>
				<span class='sep'><br /></span>
				<a href="[(#URL_ACTION_AUTEUR{actionner_gens,supprimer_famille/#ID_GENS,#SELF})]">Supprimer&nbsp;la&nbsp;famille</a>				
				<span class='sep'><br /></span>
				<a href="[(#URL_ACTION_AUTEUR{actionner_gens,supprimer/#ID_GENS,#SELF})]">Supprimer</a>				
			</td>
		</tr>
	</BOUCLE_gens>
	</tbody>
</table>
</B_gens>

<h2>Actions</h2>
<ul>
	<li><a href="[(#URL_ECRIRE{editer_gens}|parametre_url{retour,#SELF})]">Ajouter un bonhomme...</a></li>
	<li><a href="[(#SELF|parametre_url{regenerer,intervallaire})]">Régénérer intervallaire</a></li>
	<li><a href="[(#SELF|parametre_url{regenerer,parentee})]">Régénérer parentée</a></li>
	[(#ENV{regenerer}|oui)<li><a href="[(#SELF|parametre_url{regenerer,''})]">Annuler la régénération</a></li>]
</ul>



<div id='gens'>
	<h2>Id_parent</h2>
	<B_la>
	<ul>
	<BOUCLE_la(GENS){id_parent}{par rang}>
		<li>#NOM <em>(r:#RANG, id:#ID_GENS, g:#GAUCHE, d:#DROIT, p:#PROFONDEUR, nb:#NOMBRE_ELEMENTS)</em>
			<BOUCLE_la_encore(BOUCLE_la) />
		</li>
	</BOUCLE_la>
	</ul>
	</B_la>


	<h2>Intervallaire</h2>
	#SET{prof,0}
	<BOUCLE_intervallaire(GENS){intervalle_inclu ?}{par gauche}>
		[(#GET{profondeur_origine}|non)#SET{profondeur_origine,#PROFONDEUR}]
		[(#PROFONDEUR|>{#GET{prof}}|oui)<ul>]
		[(#PROFONDEUR|<{#GET{prof}}|oui)
			[(#VAL{</ul>}|str_repeat{#GET{prof}|moins{#PROFONDEUR}})]
		]
		<li>#NOM <em>(r:#RANG, id:#ID_GENS, g:#GAUCHE, d:#DROIT, p:#PROFONDEUR, nb:#NOMBRE_ELEMENTS)</em></li>
		#SET{prof,#PROFONDEUR}
	</BOUCLE_intervallaire>
	[(#VAL{</ul>}|str_repeat{#GET{prof}|moins{#GET{profondeur_origine}}|plus{1}})]



	
</div>
