<div class='formulaire_spip formulaire_editer formulaire_#FORM formulaire_#FORM-#ENV{id_gens,nouveau}'>
	
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	[(#ENV{editable}|oui)
	<form method='post' action='#ENV{action}'><div>
		#ACTION_FORMULAIRE
		<input type='hidden' name='id_gens' value='#ENV{id_gens}' />
		<ul>
		[(#SAISIE{input, nom,
			label=<:gens:label_nom:>,
			obligatoire=oui})]
			
		[(#SAISIE{textarea, infos,
			label=<:gens:label_infos:>})]

		[(#SAISIE{gens_parent_intervallaire, id_parent,
			label=<:gens:label_parent:>})]
		</ul>
		<!--extra-->
		<p class="boutons"><input type='submit' class='submit' value='<:bouton_enregistrer:>' /></p>
	</div></form>
	]
</div>
