[(#REM)
	Il ne faudrait pas afficher
	la branche du bonhomme en cours car on ne peut pas définir un parent
	quelqu'un qui est notre enfant ?
	encore que...
]

<select name="#ENV{nom}" id="champ_#ENV{nom}"[ class="(#ENV{class})"][ readonly="(#ENV{readonly})"]>
	[(#ENV{cacher_option_intro}|non)
		<option value="">[(#ENV{option_intro})]</option>]
	<BOUCLE_gens(GENS){par gauche}>
		<option value="#ID_GENS"[(#ID_GENS|=={#ENV{valeur,#ENV{defaut}}}|oui) selected="selected"]>
			[(#VAL{-&nbsp;}|str_repeat{#PROFONDEUR|moins{1}})]#NOM
		</option>
	</BOUCLE_gens>
</select>
